
 <body>
     
 
 <h1>Ejercicio 8</h1>
 <hr>
 
 <h1 class="titulo">TARJETA DE CREDITO</h1>
 <div class="cont">  
    <app-crear-tarjeta></app-crear-tarjeta>
    <app-listar-tarjeta></app-listar-tarjeta>

  </div>        

</body>   
