<div class="contenedor">
<form [formGroup]="form" (ngSubmit)="guardar()">

    <div class="izq">
        <button mat-raised-button  color="primary" type="button" (click)="adicionar()" >Adicionar </button>
    </div>

 <!-- parte del centro -->
    
    <div class="medio">
      <div formArrayName="caja1" *ngFor="let j of valoresCaja.controls; let i =  index">    
      
          <mat-form-field class="example-full-width" appearance="outline" >
           
            <input  
            matInput
            #message
            maxlength="15"
            placeholder="ingresa dato"
            [formControlName]="i"
            required
            >
          </mat-form-field>
          <button mat-raised-button color="primary" type="reset" >Limpiar caja</button> 

        <button mat-raised-button color="warn"   (click)="eliminarCajita(this.valoresCaja.value.i)">Eliminar</button><br><br>
          
      </div>
          <br>

          <mat-form-field class="example-full-width" appearance="outline">
            <textarea matInput  cols="50" 
            rows="10">{{valores}} </textarea>
          </mat-form-field>
     </div>
     <!-- parte derecha -->

    <div class="der">
    
        
        <button mat-raised-button color="primary" type="button"(click)="limpiarCaja2()" >Limpiar Caja2 </button> 
        <br><br>  

        <button mat-raised-button color="primary" [disabled]="form.invalid" (click)="guardar()" >Guardar</button>

        <button mat-raised-button color="primary" type="reset" (click)="limpiarAmbas()" >Limpiar</button>
       
   
    </div>
</form>
</div>