.contenedor{
    margin: 4rem auto;

    background-image: linear-gradient(180deg, #2af598 0%, #009efd 100%);
}

.izq{
    float: left;
    width: 20%;
    text-align: center;
    margin: none;
}
.medio{
    margin-top: 1rem;
    float: left;
    width: 35%;
}


.der{
    float: left;
    width: 33%;
}
.mat-form-field {
    width: 90%;
}

button{
    margin: 1.5rem;
}

