<h1>ejercicio 5</h1>
<hr>

<div class="contenedor">

    <form [formGroup]="form" >
        
        
        <div class="izq">
            <mat-form-field appearance="outline" color="primary" >
                <input matInput formControlName="inputName" style="border: 1px blue solid;">
                </mat-form-field>
                <button mat-raised-button color="primary" (click)="adicionar()">Adicionar</button>
        </div>


        <div class="medio" *ngIf="getNamesCheck.length != 0" formArrayName="checkName" >
            <div *ngFor="let j of getNamesCheck.controls; 
                let i = index " 
                [formGroupName]="i">
                
                 <mat-checkbox  formControlName="check"></mat-checkbox>{{j.get('nombre')?.value}}
                    
            </div>
        </div>
        
        
        <div class="der">
            
            <button mat-raised-button color="primary" (click)="guardartodos()">Guardar</button>

            <button mat-raised-button color="primary" (click)="limpiarCheckboxes()">Eliminar</button>
        </div>
        <div>
           
            <textarea name="" id="" cols="30" rows="10">{{mostrar()}}</textarea>
        </div>

        <div>
            <button class="limpiar" mat-raised-button color="primary"  (click)="clearBox()">Limpiar</button>
        </div>
    </form>
</div>