.contenedor{
    width: 100%;
    margin: 5rem auto;
}


.izq{
    width: 20%;
    float: left;
}

.medio{
    width: 30%;
    float: left;
}


button{
   
    margin: 1rem;
}
.limpiar{
    width: 10%;
    position: fixed;
}

.mat-checkbox{
border: 2px solid blue;
border-radius: 4px;
margin-right: 2rem;
} 