


<form [formGroup]="form" (ngSubmit)="agregar()">
   <div class="all">
      <div class="container der">
           <mat-label>Cantidad de niveles. </mat-label>
           &nbsp;&nbsp;&nbsp;&nbsp;
           <mat-form-field appearance="outline">
            
         <input
          matInput
          type="number"
          formControlName="niveles"
          name="niveles"
          min="1"
          max="100"
         >
          </mat-form-field>

          <button
           mat-raised-button
           type="submit" color="primary"
           >Agregar</button>
      </div>

       

        <div class="container">
          <mat-label>Cantidad de Repetic.</mat-label>
          &nbsp;&nbsp;&nbsp;
          <mat-form-field
           appearance="outline">
                <input
              matInput
              type="number"
              formControlName="repeticiones"
              name="niveles"
              min="1"
              max="100"
              >
          </mat-form-field>
        </div>
    </div>

    <div class="column-der">
        <div class="valores">

          <div class="valor">
            <label for="uno">Valor 1:</label> &nbsp; &nbsp;
            <mat-form-field appearance="outline">
              <input 
              id="uno" 
              matInput 
              formControlName="valor1"
              [class.advertencia]="form.get('valor1')?.invalid && form.get('valor1')?.touched"
              >
              
            </mat-form-field>
            <label for="dos">Valor 2:</label> &nbsp; &nbsp;
            <mat-form-field appearance="outline">
              <input 
              id="dos" 
              matInput
              formControlName="valor2"
              [class.advertencia]="form.get('valor2')?.invalid && form.get('valor2')?.touched"
              >
             </mat-form-field>
            </div>
            <br>
            <div class="valores">

              <div class="valor">
                <label for="tres">Valor 3:</label> &nbsp; &nbsp;
                <mat-form-field appearance="outline">
                  <input 
                  id="tres" 
                  matInput
                  formControlName="valor3"
                  [class.advertencia]="form.get('valor3')?.invalid && form.get('valor3')?.touched"
                  >
                  
                </mat-form-field>
                
                <label for="cuatro">Valor 4:</label> &nbsp; &nbsp;
                <mat-form-field appearance="outline">
                  <input 
                  id="cuatro" 
                  matInput
                  formControlName="valor4"
                  [class.advertencia]="form.get('valor4')?.invalid && form.get('valor4')?.touched"
                  >
                  </mat-form-field>
              </div>

      
      
          </div>
    </div>
    
    </div>
    <h2>tree view</h2>
    <div class="example-ripple-container mat-elevation-z4 grupo">
      <mat-tree  [dataSource]="dataSource" [treeControl]="treeControl " class="example-tree">
        <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{node.name}}
        </mat-tree-node>

        <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
          <div class="mat-tree-node">
            <button type="button" mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
              <mat-icon class="mat-icon-rtl-mirror">
                {{ treeControl.isExpanded(node) ? 'expand_more': 'chevron_right' }}
              </mat-icon>
            </button>
            {{node.name}} 
          </div>
          <!-- There is inline padding applied to this div using styles.
          This padding value depends on the mat-icon-button width.  -->
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" class="nested-node" role="group">
            <ng-container matTreeNodeOutlet> </ng-container>
          </div>
        </mat-nested-tree-node>
      </mat-tree>
    </div>

</form>