.contenedor{
    margin: 5rem 30% ;
}

  .contenido{
      border-style: dotted;
      height: 5rem;
      margin-top: 3rem;
  }
  .eliminar{
      float: right;
      margin-right: 1rem;
      margin-top: 4px;
  }
  .centro{
    margin: 10px;
   
}

  .centro input{
      margin-top: 10px;
      height: 40px;
     margin-right: 1rem;
     border-radius: 5px;
     border: solid 2px blue;
  }
  .borrar{
      margin-left: 12%;
  }
 
  .guardar{ 
       

        background-color: rgb(41, 131, 96) ;
        color: white;
  }
  .limpiar{
      float: right;
    background-color: rgb(51, 37, 37);
    color: white;
    
  }

  .btn{
      width: 50%;
      margin: 0 auto;
  }