<br><br>
<h1>Ejercicio 9</h1>
<hr>

<div class="contenedor">
    <form [formGroup]="form" >
        
             <button mat-flat-button type="button" color="primary" (click)="addMaterial()">+</button> &nbsp;    
    <!-- eliminar  -->

            <button class="eliminar" mat-flat-button type="button" color="warn" (click)="limpiartodo()">Eliminar todo</button>
       
<div  formArrayName="utiles">
          
    <div class="contenido"  *ngFor="let j of getUtiles.controls; let i = index " [formGroupName]="i">
           <div class="centro">     
    
                    <input 
                    matInput 
                    placeholder="Placeholder" 
                    formControlName="utilNuevo"
                    >
                    <small *ngIf="j.invalid">Solo se admiten letras</small>

                <mat-checkbox 
                class="example-margin" 
                formControlName="check"
                >Aceptar</mat-checkbox>
                  
                <button 
                class="borrar" 
                mat-flat-button
                type="text" color="warn"
                (click)="borrarUtiles(i)"
                >Eliminar</button>
            </div>
                
            </div>
            
    
        </div>
        <br>
        <div class="btn" >
            <button class="guardar" mat-stroked-button  color="primary" (click)="guardar()"
            [disabled]="invalido">Guardar</button>

            <button  class="limpiar" mat-stroked-button color="Accent"(click)="limpiar()"
            >Limpiar</button>
        </div>
      </form>

      <div>
         <p>
            {{ listaUtiles.join('\n')}}
         </p>
      </div>
  </div>