.contenedor{
    height: 200px;
    margin: 10px;
    float: left;
    width: 30%;
    text-align: center;
    font-size: 17px;
    background-color: rgba(15, 13, 13, 0.432);
    border-radius: 10px;}


    
.conatiner{
    width: 90%;
    background-color: red;
    margin: 0 auto;
}


.containerBut{
    text-align: center;
}


.btn{
    width: 100px;
    font-size: 15px;
    padding: 3px;

}

.buttonSub{
    
    padding: 30px;
    font-size: 50px;
    background-color: red;
}
.f3{
    text-align: center;
    display: block;
    margin: 5rem auto;
}