<h1>Ejercicio 2 </h1>
<hr>


<mat-tab-group mat-align-tabs="start">
    
    <mat-tab label="Formulario 1" >

       <form [formGroup]="form" (submit)="guardar2()"  >
            <div class="container" formArrayName="listatexto">
                
                 <div class="contenedor" 
                  *ngFor="let t of getListaform1.controls; let i = index " [formGroupName]="i">
                   <mat-form-field appearance="fill">
                        <input matInput placeholder="" 
                        (keyup)="darValor($event,i)"
                         formControlName="texto">
                        </mat-form-field>
                    <br>


                    <input class="btn" 
                     type="button"
                     formControlName="buttonValue">
                 </div> 
            </div>  
            <div class="containerBut">
            <button class="buttonSub" type="submit" mat-button (click)="guardar2()">Guardar</button>
           </div>
       </form>      

    </mat-tab>
    
    <mat-tab label="Formulario 2" >
        <mat-selection-list #shoes [multiple]="false">

            <mat-list-option *ngFor="let texto of list;let i =index"
             [value]="texto"
              (click)="eliminar(i)">
            {{texto}}
            </mat-list-option>
          </mat-selection-list>
          <div>
            <button mat-raised-button color="primary" (click)="clear()">Limpiar</button>
            <button mat-raised-button color="primary" (click)="anadirT()">Adicionar</button>
        
          </div>
    </mat-tab>

    <mat-tab label="Formulario 3">
        <div  class="f3">
        <h3>se guardo estos elementos:</h3>
        <mat-list role="list">
        <mat-list-item role="listitem" *ngFor="let texto of ListaT; let i = index">{{i+1}}.- {{texto}} </mat-list-item>
        </mat-list>
    </div>

    </mat-tab>
    
  </mat-tab-group>